/**
 * Safari will limit input in input elements to one character when user-select
 * none is applied. Other browsers already support selecting within inputs while
 * user-select is none. As such, disallow user-select except on inputs.
 */
* {
    -webkit-user-select: none;
    user-select: none;

    // Firefox only
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, .5) transparent;
}

input,
textarea {
    -webkit-user-select: text;
    user-select: text;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
    color: #F1F1F1;
    background: #040404; // should match DEFAULT_BACKGROUND from interface_config
}

/**
 * This will hide the focus indicator if an element receives focus via the mouse,
 * but it will still show up on keyboard focus, thus preserving accessibility.
 */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.jitsi-icon {
    &-default svg {
        fill: white;
    }
}

.disabled .jitsi-icon svg {
    fill: #929292;
}

.jitsi-icon.gray svg {
    fill: #5E6D7A;
    cursor: pointer;
}

@font-face {
    font-family: "Numtype";
    src: url("/static/Numtype.ttf") format("truetype") tech(color-colrv1);
    unicode-range: U+1F357;
}

p {
    margin: 0;
}

body, input, textarea, keygen, select, button {
    font-family: $baseFontFamily !important;
}

button, input, select, textarea {
    margin: 0;
    vertical-align: baseline;
    font-size: 1em;
}

button, select, input[type="button"],
input[type="reset"], input[type="submit"] {
    cursor: pointer;
}

textarea {
    word-wrap: break-word;
    resize: none;
    line-height: 1.5em;
}

input[type='text'], input[type='password'], textarea {
    outline: none; /* removes the default outline */
    resize: none; /* prevents the user-resizing, adjust to taste */
}

button {
    color: #FFF;
    background-color: #44A5FF;
    border-radius: $borderRadius;

    &.no-icon {
        padding: 0 1em;
    }
}

button,
form {
    display: block;
}

.watermark {
    display: block;
    position: absolute;
    top: 15;
    width: $watermarkWidth;
    height: $watermarkHeight;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: $zindex2;
}

.leftwatermark {
    max-width: 140px;
    max-height:70px;
    left: 32px;
    top: 32px;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;

    &.no-margin {
        left:0;
        top:0;
    }
}

.rightwatermark {
    right: 32px;
    top: 32px;
    background-position: center right;
}

.poweredby {
    position: absolute;
    left: 25;
    bottom: 7;
    font-size: 11pt;
    color: rgba(255,255,255,.50);
    text-decoration: none;
    z-index: 100;
}

/**
 * Re-style default OS scrollbar.
 */
::-webkit-scrollbar {
    background: transparent;
    width: 7px;
    height: $scrollHeight;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #3D3D3D;
    border-radius: 4px;
}

/* Necessary for the new icons to work properly. */
.jitsi-icon svg path {
    fill: inherit !important;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
